#header {
    min-height: 10vh;
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.navbar__logo img {
    height: 7rem;
    margin-top: 1rem;
}

.nav__lists {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav__list {
    margin: 0 0.5rem;
}

.nav__link {
    color: var(--dark-color);
    transition: all 0.4s ease-in-out;
}

.nav__link:hover {
    color: var(--primary-color);
}

.navSide,
.navSide__open {
    display: none;
}

@media only screen and (max-width:768px) {
    .navbar__demo,
    .navbar__nav {
        display: none;
    }
    .navSide__Close--box {
        border-top: 1px solid #cecece5e;
        padding: 25px 0 25px 5px;
        position: relative;
    }
    .navSide__close {
        position: absolute;
        top: 0;
        right: 0;
        width: 55px;
        z-index: 5;
        border: 1px solid #cecece5e;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        color: var(--light-color);
    }
    .navSide {
        display: block;
        position: relative;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #8d71eefa;
        overflow-x: hidden;
        transition: 0.5s;
        /* padding-top: 60px; */
    }
    .navSide__list {
        border-top: 1px solid #cecece5e;
        padding: 6px 0 6px 5px;
    }
    .navSide__link {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 18px;
        color: var(--light-color);
        display: block;
        border: none;
        background: none;
        width: 100%;
        text-align: left;
        cursor: pointer;
        outline: none;
    }
}