.offers__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 13rem;
}

.offers__title {
    text-align: center;
    padding-top: 15rem;
    font-size: 4rem;
}

.offers__box {
    width: clamp(50rem, 100%, 50rem);
    margin: 2rem auto;
    padding: 3rem;
    border-radius: 1rem;
    transition: all 0.4s ease;
    background: #fff
}

.offers__box h3 {
    font-size: 2.3rem;
    margin-bottom: 0.6rem
}

.offers__box p {
    font-size: 1.5rem;
}

.offers__box:nth-child(1) {
    box-shadow: 0.6rem 0 #fb835d inset;
}

.offers__box:nth-child(1):hover {
    box-shadow: 50rem 0px #fb835d inset;
    color: #fff
}

.offers__box:nth-child(2) {
    box-shadow: 0.6rem 0 #4655dc inset;
}

.offers__box:nth-child(2):hover {
    box-shadow: 50rem 0px #4655dc inset;
    color: #fff
}

.offers__box:nth-child(3) {
    box-shadow: 0.6rem 0 #13b036 inset;
}

.offers__box:nth-child(3):hover {
    box-shadow: 50rem 0px #13b036 inset;
    color: #fff
}

.offers__left--item {
    position: relative;
    margin-left: 7rem;
}

.offers__left--item img {
    width: 57rem;
}

.offers__left--item:before {
    content: "";
    position: absolute;
    bottom: 11px;
    right: 37px;
    width: 70%;
    height: 15rem;
    background: #fac247;
    border-radius: 0 0 200px 200px;
    transform: rotate(-12deg);
    z-index: -1;
    overflow: hidden;
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(-11deg);
        transform: rotate(-11deg);
    }
    50% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
}

@media only screen and (max-width: 413px) {
    .offers__left--item img {
        width: 30rem!important;
    }
}

@media only screen and (max-width: 576px) and (min-width: 414px) {}

@media only screen and (max-width: 991px) {
    .offers__wrapper {
        flex-wrap: wrap;
        padding: 0 1rem;
    }
    .offers__left--item {
        margin-left: 0;
    }
}

@media only screen and (max-width: 1200px) {
    .offers__left--item img {
        width: 42rem;
    }
}
